################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GameStore.Fontend/obj
/build/
/GameStore.Fontend/bin